Question 1:

In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime
import time
import glob
import os
import statistics
import numpy
from numpy import median

Question 2:

In [5]:
import time
class Timer(object):
    def __init__(self):
        self.times = []
        self.start()

    def start(self):
        self.start_time = time.time()

    def stop(self):
        self.times.append(time.time() - self.start_time)
        return self.times[-1]

Question 3:

In [6]:
timer = Timer()
timer.start()
dataLarge = pd.read_csv("data_large.csv")
dataMedium = pd.read_csv("data_medium.csv")
dataSmall = pd.read_csv("data_small.csv")
print('Time to read 3 files is %.5f sec' % timer.stop())

Time to read 3 files is 85.53177 sec

In [7]:
dataLarge.head(5)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,2016-02-25 17:24:20,2016-02-25 17:27:20,2,0.70,2,5.0,0.0,0.5,0.0,0.0,0.3,5.8
1,2,2016-02-25 23:10:50,2016-02-25 23:31:50,2,5.52,2,20.0,0.5,0.5,0.0,0.0,0.3,21.3
2,2,2016-02-01 00:00:01,2016-02-01 00:10:52,6,1.99,1,9.5,0.5,0.5,0.7,0.0,0.3,11.5
3,1,2016-02-01 00:00:04,2016-02-01 00:05:16,1,1.50,2,6.5,0.5,0.5,0.0,0.0,0.3,7.8
4,2,2016-02-01 00:00:05,2016-02-01 00:20:59,1,5.60,1,20.0,0.5,0.5,4.0,0.0,0.3,25.3

In [8]:
dataMedium.head(5)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,2016-02-18 08:57:09,2016-02-18 09:11:37,1,1.95,1,11.5,0.0,0.5,2.46,0.0,0.3,14.76
1,1,2016-03-10 14:12:32,2016-03-10 14:16:26,1,0.60,2,4.5,0.0,0.5,0.00,0.0,0.3,5.30
2,1,2016-02-06 06:48:40,2016-02-06 06:58:14,1,3.00,2,11.0,0.0,0.5,0.00,0.0,0.3,11.80
3,2,2016-03-10 16:31:22,2016-03-10 16:41:44,4,1.25,2,8.0,1.0,0.5,0.00,0.0,0.3,9.80
4,2,2016-03-01 20:58:57,2016-03-01 21:04:09,1,1.49,2,6.5,0.5,0.5,0.00,0.0,0.3,7.80

In [9]:
dataSmall.head(5)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,2016-03-29 07:54:27,2016-03-29 08:01:58,2,1.31,1,7.0,0.0,0.5,1.56,0.0,0.3,9.36
1,2,2016-02-18 10:33:03,2016-02-18 10:37:17,1,0.97,1,5.5,0.0,0.5,1.26,0.0,0.3,7.56
2,1,2016-03-17 11:30:47,2016-03-17 11:46:40,1,2.10,2,11.5,0.0,0.5,0.00,0.0,0.3,12.30
3,1,2016-03-26 19:49:01,2016-03-26 20:01:30,4,1.60,2,9.0,0.5,0.5,0.00,0.0,0.3,10.30
4,1,2016-02-12 21:42:23,2016-02-12 21:48:37,1,1.10,2,6.0,0.5,0.5,0.00,0.0,0.3,7.30

Question 4:

In [10]:
def questionFour(data):
    timer = Timer()
    timer.start()
    temp = data['payment_type'].values.tolist()
    paymentType = set(temp)
    #print(paymentType)
    count = 0
    result = []
    for i in paymentType:
        for j in temp:
            if i == j:
                count += 1
        result.append(count)
        count = 0
    paymentType = list(paymentType)
    print('Time to exec func %.5f sec:' % timer.stop())
    for i in range(len(paymentType)):
        print('there was/were',result[i],'passenger choosing the',paymentType[i],'payment method')

In [11]:
questionFour(dataSmall)

Time to exec func 0.00099 sec:
there was/were 6718 passenger choosing the 1 payment method
there was/were 3235 passenger choosing the 2 payment method
there was/were 32 passenger choosing the 3 payment method
there was/were 15 passenger choosing the 4 payment method

In [12]:
questionFour(dataMedium)

Time to exec func 0.09804 sec:
there was/were 669824 passenger choosing the 1 payment method
there was/were 325150 passenger choosing the 2 payment method
there was/were 3654 passenger choosing the 3 payment method
there was/were 1372 passenger choosing the 4 payment method

In [13]:
questionFour(dataLarge)

Time to exec func 2.25279 sec:
there was/were 15807750 passenger choosing the 1 payment method
there was/were 7667443 passenger choosing the 2 payment method
there was/were 87187 passenger choosing the 3 payment method
there was/were 30621 passenger choosing the 4 payment method

Question 5:

In [14]:
timer = Timer()
timer.start()
def get_date_info(df):
    df['year'] = df['tpep_dropoff_datetime'].dt.year
    df['month'] = df['tpep_dropoff_datetime'].dt.month
    df['day'] = df['tpep_dropoff_datetime'].dt.day
    #df['hour'] = df['tpep_dropoff_datetime'].dt.hour
    df['time'] = df['tpep_dropoff_datetime'].dt.time
    return(df)

dataSmall['tpep_dropoff_datetime'] = pd.to_datetime(dataSmall['tpep_dropoff_datetime'])
dataSmall = get_date_info(dataSmall)

dataMedium['tpep_dropoff_datetime'] = pd.to_datetime(dataMedium['tpep_dropoff_datetime'])
dataMedium = get_date_info(dataMedium)

dataLarge['tpep_dropoff_datetime'] = pd.to_datetime(dataLarge['tpep_dropoff_datetime'])
dataLarge = get_date_info(dataLarge)

print('Time to create new time columns %.5f sec' % timer.stop())

Time to create new time columns 23.52836 sec

In [15]:
def subsetDayAndMonth(d,m,data):
    df = pd.DataFrame()
    df['cost'] = data['total_amount'][(data['month'] == m) & (data['day'] == d)]
    return df

In [16]:
def questionFive(data):
    timer = Timer()
    m = int(input('Which month you want to choose, Feb or Mar? Input a number: '))
    d = int(input('Input a day: '))
    timer.start()
    df1 = subsetDayAndMonth(d,m,data).reset_index(drop=True, inplace=False)
    costList = df1['cost'].values.tolist()
    minCost = costList[0]
    maxCost = costList[0]
    meanCost = 0
    for i in costList:
        if (minCost > i): minCost = i
        if (maxCost < i): maxCost = i
        meanCost += i 
    meanCost = meanCost/len(costList)
    givenDate = str(d)+'/'+str(m)+':'
    print('Time to exec func %.5f sec:' % timer.stop())
    print('On the day',givenDate)
    print('     - the min cost is',minCost)
    print('     - the mean cost is',meanCost)
    print('     - the max cost is',maxCost)

In [17]:
questionFive(dataSmall)

Time to exec func 0.00700 sec:
On the day 3/2:
     - the min cost is 3.3
     - the mean cost is 16.03298850574714
     - the max cost is 115.65

In [18]:
questionFive(dataMedium)

Time to exec func 0.01601 sec:
On the day 3/2:
     - the min cost is -49.64
     - the mean cost is 15.629380738299478
     - the max cost is 200.3

In [19]:
questionFive(dataLarge)

Time to exec func 0.22789 sec:
On the day 3/2:
     - the min cost is -57.3
     - the mean cost is 15.644488167956583
     - the max cost is 1345.18

Question 6:

In [20]:
midnight_bg = datetime.time(23,0,0)
midnight_end = datetime.time(1,0,0)

In [21]:
def questionSix(data):
    timer = Timer()
    m = int(input('Which month you want to choose, Feb or Mar? Input a number: '))
    d = int(input('Input a day: '))
    timer.start()
    subset = pd.DataFrame()
    subset['time'] = data['time'][(data['month'] == m) & (data['day'] == d) & ((data['time'] <= midnight_end) | (data['time'] >= midnight_bg))]
    date = str(d)+'/'+str(m)
    print('Time to exec func %.5f sec:' % timer.stop())
    print('there was/were',len(subset['time']),'trip(s) that drop off at midnight on',date)

In [37]:
questionSix(dataSmall)

Time to exec func 0.00900 sec:
there was/were 9 trip(s) that drop off at midnight on 3/2

In [38]:
questionSix(dataMedium)

Time to exec func 0.17504 sec:
there was/were 1164 trip(s) that drop off at midnight on 3/2

In [39]:
questionSix(dataLarge)

Time to exec func 2.23983 sec:
there was/were 26195 trip(s) that drop off at midnight on 3/2

Question 7:

In [23]:
def quick_sort(array, start, end):
    if (start <= end):
        key = array[(start+end)//2]
        i = start 
        j = end
        while (i<=j):
            while (array[i] < key): i+=1
            while (array[j] > key): j-=1
            if (i<=j):  
                array[i],array[j] = array[j],array[i]
                i+=1
                j-=1
        if (start < j): quick_sort(array,start,j)
        if (end > i): quick_sort(array,i,end)

In [24]:
def questionSeven(data):
    timer = Timer()
    m = int(input('Which month you want to choose, Feb or Mar? Input a number: '))
    d = int(input('Input a day: '))
    timer.start()
    newArray = data['fare_amount'][(data['month'] == m) & (data['day'] == d)].values.tolist()
    quick_sort(newArray,0,len(newArray)-1)
    neg = []
    for i in newArray:
        if i < 0:
            neg.append(i)
        else:
            break
    count = 0
    for i in newArray:
        if i < 10: 
            count += 1
    print('Time to exec func %.5f sec:' % timer.stop())
    print('the negative amount payment is/ are',neg)
    print('The was/were',count,'/',len(newArray),'value(s) under 10$')

In [25]:
questionSeven(dataSmall)

Time to exec func 0.00100 sec:
the negative amount payment is/ are []
The was/were 92 / 174 value(s) under 10$

In [26]:
questionSeven(dataMedium)

Time to exec func 0.03002 sec:
the negative amount payment is/ are [-49.34, -8.5, -4.0, -3.5, -3.5, -2.5, -2.5, -2.5, -2.5, -2.5, -2.5]
The was/were 8367 / 15793 value(s) under 10$

In [27]:
questionSeven(dataLarge)

Time to exec func 0.85386 sec:
the negative amount payment is/ are [-52.0, -52.0, -52.0, -52.0, -52.0, -52.0, -52.0, -52.0, -52.0, -52.0, -52.0, -52.0, -52.0, -49.34, -22.0, -20.0, -17.5, -15.5, -8.5, -7.0, -6.0, -6.0, -6.0, -6.0, -6.0, -5.5, -5.5, -5.5, -5.0, -5.0, -5.0, -5.0, -5.0, -5.0, -5.0, -5.0, -5.0, -4.5, -4.5, -4.5, -4.5, -4.5, -4.5, -4.5, -4.5, -4.5, -4.5, -4.5, -4.5, -4.5, -4.0, -4.0, -4.0, -4.0, -4.0, -4.0, -4.0, -4.0, -4.0, -4.0, -3.5, -3.5, -3.5, -3.5, -3.5, -3.5, -3.5, -3.5, -3.5, -3.5, -3.5, -3.5, -3.5, -3.5, -3.0, -3.0, -3.0, -3.0, -3.0, -3.0, -3.0, -3.0, -3.0, -3.0, -3.0, -3.0, -3.0, -3.0, -3.0, -3.0, -3.0, -2.5, -2.5, -2.5, -2.5, -2.5, -2.5, -2.5, -2.5, -2.5, -2.5, -2.5, -2.5, -2.5, -2.5, -2.5, -2.5, -2.5, -2.5, -2.5, -2.5, -2.5, -2.5, -2.5, -2.5, -2.5, -2.5, -2.5, -2.5, -2.5, -2.5, -2.5, -2.5, -2.5, -2.5, -2.5, -2.5, -2.5, -2.5, -2.5, -2.5, -2.5, -2.5, -2.5, -2.5, -2.5, -2.5, -2.5, -2.5, -2.5, -2.5, -2.5, -2.0]
The was/were 198066 / 371831 value(s) under 10$

Question 8:

In [28]:
tipLevels = {'no tips':0,'under 3$':0, 'bw 3$ and 5$':0,'above 5$':0}
def questionEight(data):
    timer = Timer()
    timer.start()
    tips = data['tip_amount'].values.tolist()
    maxTip = tips[0]
    for i in tips:
        if i == 0:
            tipLevels['no tips'] +=1
        else:
            if i < 3: tipLevels['under 3$'] += 1
            if 3 <= i <= 5: tipLevels['bw 3$ and 5$'] += 1
            if i > 5: tipLevels['above 5$'] += 1
        if maxTip < i:
            maxTip = i
    print('Time to exec func %.5f sec:' % timer.stop())
    print('there was/were',tipLevels['no tips'],'passenger(s) that do not give drive any tips')
    print('there was/were',tipLevels['under 3$'],'passenger(s) that give tips under 3$')
    print('there was/were',tipLevels['bw 3$ and 5$'],'passenger(s) that give tips between 3$ and 5$')
    print('there was/were',tipLevels['above 5$'],'passenger(s) that give tips above 5$')
    print('the highest tip is',maxTip)

In [29]:
questionEight(dataSmall)

Time to exec func 0.00301 sec:
there was/were 3534 passenger(s) that do not give drive any tips
there was/were 4754 passenger(s) that give tips under 3$
there was/were 1075 passenger(s) that give tips between 3$ and 5$
there was/were 637 passenger(s) that give tips above 5$
the highest tip is 160.0

In [30]:
questionEight(dataMedium)

Time to exec func 0.25308 sec:
there was/were 358360 passenger(s) that do not give drive any tips
there was/were 476575 passenger(s) that give tips under 3$
there was/were 109347 passenger(s) that give tips between 3$ and 5$
there was/were 65718 passenger(s) that give tips above 5$
the highest tip is 440.25

In [31]:
questionEight(dataLarge)

Time to exec func 7.48777 sec:
there was/were 8726141 passenger(s) that do not give drive any tips
there was/were 11604148 passenger(s) that give tips under 3$
there was/were 2672374 passenger(s) that give tips between 3$ and 5$
there was/were 1600338 passenger(s) that give tips above 5$
the highest tip is 850.0

Question 9:

In [32]:
def questionNight(data):
    timer = Timer()
    m = int(input('Which month you want to choose, Feb or Mar? Input a number: '))
    d = int(input('Input a day: '))
    timer.start()
    df3 = pd.DataFrame()
    df3 = data[(data['month'] == m) & (data['day'] == d)].reset_index(drop=True)
    duration = []
    df3['time'] = pd.to_datetime(df3['tpep_dropoff_datetime']) - pd.to_datetime(df3['tpep_pickup_datetime'])
    for i in df3['time']:
        duration.append(i.seconds)
    df3['duration (seconds)'] = duration
    df3['average velocity (km/h)'] = round(3.6*(df3['trip_distance']*1000/df3['duration (seconds)']),3)
    df3 = df3.sort_values('duration (seconds)',ascending=False).reset_index(drop=True)
    print('Time to exec func %.5f sec:' % timer.stop())
    print('the three logest trip are')
    result = df3[['trip_distance','time','duration (seconds)','average velocity (km/h)']][:3]
    return result

In [33]:
questionNight(dataSmall)

Time to exec func 0.05972 sec:
the three logest trip are

   trip_distance            time  duration (seconds)  average velocity (km/h)
0          16.50 0 days 01:25:45                5145                   11.545
1          18.30 0 days 01:21:42                4902                   13.439
2           9.69 0 days 00:49:11                2951                   11.821

In [34]:
questionNight(dataMedium)

Time to exec func 0.39066 sec:
the three logest trip are

   trip_distance            time  duration (seconds)  average velocity (km/h)
0           3.94 0 days 23:59:45               86385                    0.164
1           1.62 0 days 23:57:40               86260                    0.068
2           2.29 0 days 23:55:58               86158                    0.096

In [35]:
questionNight(dataLarge)

Time to exec func 10.33849 sec:
the three logest trip are

   trip_distance            time  duration (seconds)  average velocity (km/h)
0           0.00 0 days 23:59:55               86395                    0.000
1           1.84 0 days 23:59:50               86390                    0.077
2           3.94 0 days 23:59:45               86385                    0.164

Question 10: