In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime
import time
import glob
import os
import statistics
import numpy
from numpy import median

In [5]:
import time
class Timer(object):
    def __init__(self):
        self.times = []
        self.start()

    def start(self):
        self.start_time = time.time()

    def stop(self):
        self.times.append(time.time() - self.start_time)
        return self.times[-1]

In [35]:
dataLarge = pd.read_csv("data_large.csv")
dataMedium = pd.read_csv("data_medium.csv")
dataSmall = pd.read_csv("data_small.csv")

MemoryError: Unable to allocate 512. KiB for an array with shape (65536,) and data type int64

In [ ]:
dataLarge

In [28]:
dataMedium

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
4603501,2,2016-02-09 15:05:13,2016-02-09 15:17:01,2,1.28,2,7.5,0.0,0.5,0.00,0.0,0.3,8.30
6130699,2,2016-02-21 02:54:29,2016-02-21 02:59:49,1,1.56,1,7.0,0.5,0.5,0.00,0.0,0.3,8.30
11050781,2,2016-02-27 13:07:20,2016-02-27 13:32:43,2,6.68,1,25.0,0.0,0.5,3.00,0.0,0.3,28.80
20833915,1,2016-03-13 12:50:43,2016-03-13 12:52:39,1,0.50,2,3.5,0.0,0.5,0.00,0.0,0.3,4.30
10879529,2,2016-02-26 18:54:22,2016-02-26 19:09:54,2,2.47,2,12.5,1.0,0.5,0.00,0.0,0.3,14.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...
20910045,1,2016-03-13 21:06:58,2016-03-13 21:22:36,1,2.90,1,13.0,0.5,0.5,4.29,0.0,0.3,18.59
20773008,1,2016-03-13 04:52:03,2016-03-13 05:27:36,1,13.50,1,41.5,0.5,0.5,0.04,0.0,0.3,42.84
3792066,1,2016-02-12 21:53:55,2016-02-12 21:58:31,1,0.80,2,5.5,0.5,0.5,0.00,0.0,0.3,6.80
6805396,2,2016-02-14 23:47:17,2016-02-14 23:54:39,1,1.15,1,7.0,0.5,0.5,2.49,0.0,0.3,10.79
15448542,2,2016-03-10 00:55:07,2016-03-10 01:11:46,1,6.43,1,20.5,0.5,0.5,4.36,0.0,0.3,26.16

In [ ]:
dataSmall